
name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
 
jobs:
  
  build:
   
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build image
        run: docker build -t mzsterling/portfolio .

      - name: push image
        run: |
            docker login -u mzsterling -p ${{secreats.REGISTRY_PASS}}
            docker push mzsterling/portfolio